b-container(fluid)

	.row
		.col-md-12
			h3 Indikator Mutu
	.row
		.col-md-12
			MonthPicker(@updateMonth='updateMonth' :loading='loaded')
	.row
		.col-md-12
			.form-group.mt-3
				input.form-control(v-model='query' type='text' placeholder='Search...')
	.row
		.col-md-12
			b-table(
				show-empty
				stacked='sm'
				striped 
				hover 
				small
				responsive 
				:items="mutus"
				:fields="fields" 
				:current-page="currentPage" 
				:per-page="perPage" 
				:busy.sync='loaded' 
				:sort-by.sync="sortBy" 
				:sort-desc.sync="sortDesc" 
				:filter='query'
				@filtered='onFiltered'
			)
				template(slot='capaian' slot-scope='row') 
					b-button-group.mx-1
						b-btn(
							size='sm'
							disabled
							variant='outline-primary'
						) {{row.item.capaian}}       
						b-btn(
							v-if='row.item.capaian === "Belum diinput"' 
							:variant='row.item.variant' 
							size='sm'
							@click.stop="row.toggleDetails"
						) {{row.detailsShowing?'Tutup':'Buka'}} Input
						b-btn(
							v-if='row.item.capaian === "Belum tercapai"' 
							:variant='row.item.variant' 
							size='sm'
							@click.stop="row.toggleDetails"
						) {{row.detailsShowing?'Tutup':'Buka'}} Evaluasi
				template(slot="action" slot-scope="row")
					b-btn(
						size="sm" 
						variant='primary' 
						@click.stop="info(row.item, row.index, $event.target)"
					) Info
				template(slot="row-details" slot-scope="row")
					RowDetails(:row='row')
	.row
		.col-md-12
			b-pagination(:total-rows="totalRows" :per-page="perPage" v-model="currentPage")
	b-modal#modalInfo(@hide='resetModal' :title='modalInfo.title' ok-only)
		pre {{modalInfo.content}}
