b-container(fluid)
	.row
		.col-md-12
			h3 Indikator Mutu
	.row
		.col-md-12
			month-picker(@updateMonth='updateMonth' :loading='loaded')
	.row
		.col-md-12
			.form-group.mt-3
				input.form-control(v-model='query' type='text' placeholder='Search...')
	.row
		.col-md-12
			b-table(
				show-empty
				hover 
				small
				striped
				responsive 
				:items="mutus"
				:fields="fields" 
				:current-page="currentPage" 
				:per-page="perPage" 
				:busy.sync='loaded' 
				:sort-by.sync="sortBy" 
				:sort-desc.sync="sortDesc" 
				:filter='query'
				@filtered='onFiltered'
			)
				template(slot='capaian' slot-scope='row')
					status-capaian(:status='row.item.capaian' :variant='row.item.variant')
				template(slot="action" slot-scope="row")
					b-button-group.mx-1(size='sm')
						b-btn(
							size='sm'
							v-if='row.item.capaian === "Belum diinput"' 
							variant='outline-primary' 
							@click.stop="row.toggleDetails"
						) {{row.detailsShowing?'Tutup':'Buka'}} Input
						b-btn(
							size='sm'
							v-if='row.item.capaian === "Belum tercapai"' 
							variant='outline-primary' 
							@click.stop="row.toggleDetails"
						) {{row.detailsShowing?'Tutup':'Buka'}} Evaluasi
					//-	
						b-btn(
							size='sm'
							variant='outline-primary' 
							@click.stop="info(row.item, row.index, $event.target)"
						) Info
					//	
				template(slot="row-details" slot-scope="row")
					row-details(:row='row' :month='month')
	.row
		.col-md-12
			b-pagination(:total-rows="totalRows" :per-page="perPage" v-model="currentPage")
	b-modal#modalInfo(@hide='resetModal' :title='modalInfo.title' ok-only)
		pre {{modalInfo.content}}
